bg-secondary {
 background-color: #502c2c !important;
}
.copyright {
 background-color: #000000;
}
.bg-primary {
 background-color: #ff1e00 !important;
}
nav{
 font-weight: 700;
}
.img-card{
 height: 18vw;
 object-fit: cover;
}
body {
  color: white;
}
.pie {
    position: fixed;
    bottom: 0;
    width: 100%;
} 